@import url(https://fonts.googleapis.com/css?family=Barlow:400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #f9ad05 !important;
  border-color: #f9ad05 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e7272d !important;
}
.bg-success {
  background-color: #89b758 !important;
}
.bg-info {
  background-color: #29361a !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e7272d !important;
  border-color: #e7272d !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info,
.btn-info:active {
  background-color: #29361a !important;
  border-color: #29361a !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success,
.btn-success:active {
  background-color: #89b758 !important;
  border-color: #89b758 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #971115;
  color: #971115;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c78b04;
  color: #c78b04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #567633;
  color: #567633;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e7272d !important;
}
.text-secondary {
  color: #fbbe36 !important;
}
.text-success {
  color: #89b758 !important;
}
.text-info {
  color: #29361a !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f18386 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fdde9a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd69f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #5d7b3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #29361a;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e7272d;
  border-color: #e7272d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e7272d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbdfe0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c8ddb1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9dbe78;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e7272d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e7272d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e7272d;
  border-bottom-color: #e7272d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fbbe36 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e7272d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rLeWHR6SQs {
  padding-top: 150px;
  padding-bottom: 90px;
  background-color: #e7272d;
}
.cid-rLeWHR6SQs .title-align {
  width: 100%;
}
.cid-rLeWHR6SQs .img-col {
  position: relative;
  padding-top: 2rem;
}
.cid-rLeWHR6SQs .img-col img {
  z-index: 2;
  position: relative;
}
.cid-rLeWHR6SQs .mbr-iconfont {
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 60px;
  color: #fbbe36;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-rLeWHR6SQs .list {
  display: flex;
  margin: 0;
  align-items: center;
}
.cid-rLeWHR6SQs .pricebox {
  position: relative;
  display: flex;
  background: #fbbe36;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 2.6rem;
}
.cid-rLeWHR6SQs .price-wrap {
  margin-left: 3rem;
}
.cid-rLeWHR6SQs .item {
  margin-left: 3rem;
  height: fit-content;
}
.cid-rLeWHR6SQs .item-first {
  margin-left: 0!important;
}
.cid-rLeWHR6SQs H2 {
  color: #e7272d;
  position: relative;
  display: inline-block;
  width: fit-content;
}
.cid-rLeWHR6SQs H2:before {
  position: absolute;
  content: '';
  right: -120px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
}
.cid-rLeWHR6SQs img {
  margin: auto;
  max-width: 500px;
}
.cid-rLeWHR6SQs .mbr-section-subtitle,
.cid-rLeWHR6SQs .title-align {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-rLeWHR6SQs .pricebox {
    margin-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rLeWHR6SQs H2:before {
    content: none;
  }
  .cid-rLeWHR6SQs .list {
    flex-direction: column;
    padding: 0;
    margin-left: 1.5rem;
    align-items: flex-start;
  }
  .cid-rLeWHR6SQs .item {
    margin-left: 0rem;
    width: 100%;
  }
  .cid-rLeWHR6SQs .pricebox {
    margin-right: 0rem;
  }
  .cid-rLeWHR6SQs .mbr-iconfont {
    left: 50%;
    top: auto;
    transform: translateX(-50%);
    bottom: -45px;
  }
}
.cid-rLeWHR6SQs .pricetitle {
  text-align: left;
}
.cid-rLeWHR6SQs .price {
  text-align: center;
}
.cid-rLeXKejVsU .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLeXKejVsU .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-rLeXKejVsU .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-rLeXKejVsU .dropdown-item {
  color: #000000 !important;
}
.cid-rLeXKejVsU .dropdown-item:hover {
  color: #000000 !important;
}
.cid-rLeXKejVsU .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-rLeXKejVsU .nav-link:hover {
  color: #fbbe36 !important;
}
.cid-rLeXKejVsU .btn-white {
  color: #e7272d !important;
}
.cid-rLeXKejVsU .btn:hover {
  border-color: #fbbe36 !important;
  color: #fbbe36 !important;
}
.cid-rLeXKejVsU .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-rLeXKejVsU .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rLeXKejVsU .container {
  display: flex;
  margin: auto;
}
.cid-rLeXKejVsU .navbar.navbar-short .nav-link,
.cid-rLeXKejVsU .navbar.navbar-short .navbar-caption,
.cid-rLeXKejVsU .navbar.navbar-short .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
}
.cid-rLeXKejVsU .navbar.navbar-short .hamburger span {
  background: #ffffff !important;
}
.cid-rLeXKejVsU .navbar-caption {
  padding-right: 3rem;
}
.cid-rLeXKejVsU .navbar.opened {
  background: #000000 !important;
}
.cid-rLeXKejVsU .nav-item:focus,
.cid-rLeXKejVsU .nav-link:focus {
  outline: none;
}
.cid-rLeXKejVsU .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLeXKejVsU .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rLeXKejVsU .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rLeXKejVsU .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rLeXKejVsU .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rLeXKejVsU .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rLeXKejVsU .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #000000;
  background: none;
}
.cid-rLeXKejVsU .navbar.opened {
  transition: all .3s;
}
.cid-rLeXKejVsU .navbar .dropdown-item {
  padding: .5rem 1.5rem;
}
.cid-rLeXKejVsU .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-rLeXKejVsU .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rLeXKejVsU .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rLeXKejVsU .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rLeXKejVsU .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rLeXKejVsU .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rLeXKejVsU .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rLeXKejVsU .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rLeXKejVsU .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rLeXKejVsU .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rLeXKejVsU .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rLeXKejVsU .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rLeXKejVsU .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rLeXKejVsU .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rLeXKejVsU .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rLeXKejVsU .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rLeXKejVsU .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rLeXKejVsU .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rLeXKejVsU .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rLeXKejVsU .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rLeXKejVsU .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rLeXKejVsU .navbar.navbar-short {
  background: #000000 !important;
  min-height: 60px;
}
.cid-rLeXKejVsU .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rLeXKejVsU .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rLeXKejVsU .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rLeXKejVsU .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rLeXKejVsU .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rLeXKejVsU .dropdown-item.active,
.cid-rLeXKejVsU .dropdown-item:active {
  background-color: transparent;
}
.cid-rLeXKejVsU .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rLeXKejVsU .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rLeXKejVsU .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rLeXKejVsU .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-rLeXKejVsU .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rLeXKejVsU .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rLeXKejVsU ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rLeXKejVsU .navbar-buttons {
  text-align: center;
}
.cid-rLeXKejVsU button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rLeXKejVsU button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rLeXKejVsU button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rLeXKejVsU button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rLeXKejVsU button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rLeXKejVsU button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rLeXKejVsU nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLeXKejVsU nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rLeXKejVsU nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rLeXKejVsU nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLeXKejVsU .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rLeXKejVsU a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rLeXKejVsU .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rLeXKejVsU .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rLeXKejVsU .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rLeXKejVsU .navbar {
    height: 77px;
  }
  .cid-rLeXKejVsU .navbar.opened {
    height: auto;
  }
  .cid-rLeXKejVsU .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rLeZ9ZLNT7 {
  padding-top: 75px;
  padding-bottom: 150px;
  background-color: #fff4e2;
}
.cid-rLeZ9ZLNT7 H2 {
  color: #e7272d;
}
.cid-rLeZ9ZLNT7 .mbr-text,
.cid-rLeZ9ZLNT7 .mbr-section-btn {
  color: #808080;
}
@media (min-width: 992px) {
  .cid-rLeZ9ZLNT7 .row {
    position: relative;
  }
  .cid-rLeZ9ZLNT7 .row .mbr-figure {
    width: 600px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -100px;
  }
  .cid-rLeZ9ZLNT7 .row .mbr-figure img {
    max-width: 600px;
  }
}
.cid-rLeZ9ZLNT7 img {
  max-width: 500px;
  margin: auto;
}
.cid-rLeZqPetSR {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rLeZqPetSR .card-subtitle {
  margin: 0;
}
.cid-rLeZqPetSR .btn {
  padding: 0.6rem 1.8rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef !important;
}
.cid-rLeZqPetSR .item-wrapper {
  background: #ffffff;
  padding: 1rem;
  border-radius: 9px;
  transition: all 0.3s;
  border: 1px solid #efefef;
  cursor: pointer;
}
.cid-rLeZqPetSR h4,
.cid-rLeZqPetSR h6,
.cid-rLeZqPetSR h5 {
  margin: 0;
}
.cid-rLeZqPetSR .mbr-text {
  transition: all 0.3s;
}
.cid-rLeZqPetSR .btn-white-outline {
  color: #e7272d !important;
}
.cid-rLeZqPetSR .price {
  color: #e7272d;
  transition: all 0.3s;
}
.cid-rLeZqPetSR img {
  transition: all 0.3s;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
.cid-rLeZqPetSR .card {
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 2rem;
}
.cid-rLeZqPetSR .card:hover {
  transform: translateY(-2rem);
}
.cid-rLeZqPetSR .card:hover .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
  background: #e7272d;
  color: #ffffff !important;
}
.cid-rLeZqPetSR .card:hover .item-wrapper .price {
  color: #ffffff !important;
}
.cid-rLeZqPetSR .card:hover .item-wrapper .mbr-text {
  color: #ffffff !important;
}
.cid-rLeZqPetSR .card:hover .card-img {
  transform: translateY(2rem) scale(1.2);
}
.cid-rLeZqPetSR .card:hover .btn {
  background: #fbbe36 !important;
  color: black!important;
  border-color: #fbbe36 !important;
}
.cid-rLeZqPetSR .card-img {
  width: 100%;
  position: relative;
  transition: all 0.3s;
  padding-top: 2rem;
}
.cid-rLeZqPetSR .card-img img {
  max-width: 200px;
}
.cid-rLeZqPetSR .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rLeZqPetSR .wrapper {
    flex-direction: column;
  }
  .cid-rLeZqPetSR .icon-padding {
    padding-left: 0rem;
  }
  .cid-rLeZqPetSR .card-box {
    padding: 0;
  }
}
.cid-rLeZqPetSR .mbr-text,
.cid-rLeZqPetSR .mbr-section-btn,
.cid-rLeZqPetSR .card-img {
  color: #808080;
}
.cid-rLeZqPetSR H2 {
  color: #e7272d;
}
.cid-rLeZElJ74v {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rLeZElJ74v .card-subtitle {
  margin: 0;
}
.cid-rLeZElJ74v .card1 {
  background: #e7272d;
}
.cid-rLeZElJ74v .card2 {
  background: #232323;
}
.cid-rLeZElJ74v .card3 {
  background: #fe7a15;
}
.cid-rLeZElJ74v .item {
  margin-bottom: 2rem;
}
.cid-rLeZElJ74v .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  transition: all 0.6s;
  overflow: hidden;
  position: relative;
}
.cid-rLeZElJ74v .item-wrapper:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-rLeZElJ74v .item-wrapper:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-rLeZElJ74v .item-wrapper:hover:before {
  opacity: 0.3;
  width: 0;
}
.cid-rLeZElJ74v .item-wrapper:hover:after {
  opacity: 0.3;
  height: 0;
}
.cid-rLeZElJ74v .item-wrapper img {
  width: 130px;
  transition: all 0.6s;
  border-radius: 9px;
}
.cid-rLeZElJ74v .item-wrapper .card-box {
  padding: 1rem;
}
.cid-rLeZElJ74v .item-wrapper .link {
  transition: all 0.3s;
  text-decoration: underline;
}
.cid-rLeZElJ74v .item-wrapper .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-rLeZElJ74v .item-wrapper .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-rLeZElJ74v .item-wrapper .mbr-section-btn .btn {
  border: 0px;
}
.cid-rLeZElJ74v .item-wrapper .mbr-section-btn .btn:hover {
  background: inherit!important;
  color: inherit!important;
}
.cid-rLeZElJ74v .item-wrapper h4,
.cid-rLeZElJ74v .item-wrapper h6,
.cid-rLeZElJ74v .item-wrapper h5 {
  margin: 0;
}
.cid-rLeZElJ74v .item-wrapper .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-rLeZElJ74v .item-wrapper .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-rLeZElJ74v .item-wrapper .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-rLeZElJ74v .item-wrapper .card {
  cursor: pointer;
  height: fit-content;
}
.cid-rLeZElJ74v .item-wrapper .card .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}
.cid-rLeZElJ74v .card-img {
  justify-content: center;
  align-items: center;
  display: flex;
}
.cid-rLeZElJ74v .row {
  justify-content: center;
}
.cid-rLeZElJ74v .location,
.cid-rLeZElJ74v .icon-wrap {
  color: #e7272d;
}
.cid-rLeZElJ74v .link,
.cid-rLeZElJ74v .link-wrap,
.cid-rLeZElJ74v .link-align {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-rLeZElJ74v .wrapper {
    flex-direction: column;
  }
  .cid-rLeZElJ74v .icon-padding {
    padding-left: 0rem;
  }
  .cid-rLeZElJ74v .card-box {
    padding: 0;
  }
}
.cid-rLeZElJ74v H2 {
  color: #e7272d;
}
@media (max-width: 767px) {
  .cid-rLeZElJ74v .item-wrapper {
    flex-direction: column;
  }
}
.cid-rLeZGRfrjt {
  padding-top: 120px;
  padding-bottom: 135px;
  background-color: #ffffff;
}
.cid-rLeZGRfrjt H2 {
  color: #e7272d;
}
@keyframes fly {
  from {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}
.cid-rLeZGRfrjt .row {
  position: relative;
}
.cid-rLeZGRfrjt .row:before {
  content: '';
  position: absolute;
  width: 800px;
  height: 750px;
  background: #e7272d;
  border-radius: 100%;
  left: 55%;
  top: 52%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.cid-rLeZGRfrjt .mbr-text,
.cid-rLeZGRfrjt .mbr-section-btn {
  color: #808080;
}
.cid-rLeZGRfrjt img {
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
  transition: all 0.3s;
  animation: fly 3s infinite ease-in-out;
}
.cid-rLeZGRfrjt h4 {
  line-height: 1.4;
}
.cid-rLeZGRfrjt .img-col {
  align-items: flex-end;
}
.cid-rLeZGRfrjt .icon-wrap {
  padding-left: 2rem;
  width: 160px;
}
.cid-rLeZGRfrjt .icon-wrap .mbr-iconfont {
  font-size: 4rem;
  color: #ffffff;
  display: block;
  padding-bottom: 1rem;
}
.cid-rLeZGRfrjt .icon-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-rLeZGRfrjt .row:before {
    left: 50%;
    top: 54%;
  }
}
@media (max-width: 767px) {
  .cid-rLeZGRfrjt .icon-wrap {
    padding-left: 0rem;
    margin-bottom: 2rem;
  }
  .cid-rLeZGRfrjt .icon-wrap .mbr-iconfont {
    font-size: 4rem;
  }
  .cid-rLeZGRfrjt .icon-col {
    align-items: center;
  }
  .cid-rLeZGRfrjt .row:before {
    height: 860px;
  }
}
.cid-rLeZGRfrjt .icon-text,
.cid-rLeZGRfrjt .mbr-iconfont {
  color: #ffffff;
}
.cid-rLeZOOMVGp {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rLeZOOMVGp .menu-item {
  padding: 0;
  display: flex;
  margin-bottom: 1.5rem;
}
.cid-rLeZOOMVGp .item-tag {
  background: #e7272d;
  width: fit-content;
  padding: 3px 16px 0px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.cid-rLeZOOMVGp .mbr-iconfont {
  font-size: 2.5rem;
  padding-right: 1rem;
  color: #e7272d;
}
.cid-rLeZOOMVGp .mbr-figure {
  width: 150px;
  height: 100%;
}
.cid-rLeZOOMVGp .mbr-figure img {
  border-radius: 6px;
  object-fit: cover;
  margin-right: 2rem;
  width: 110px;
  height: 110px;
}
.cid-rLeZOOMVGp .inline-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rLeZOOMVGp .group-title {
  margin: 0;
  color: #181818;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rLeZOOMVGp .mbr-figure {
    width: fit-content !important;
  }
}
@media (max-width: 767px) {
  .cid-rLeZOOMVGp .mbr-figure {
    width: 100%!important;
  }
  .cid-rLeZOOMVGp .menu-item {
    flex-direction: column;
  }
  .cid-rLeZOOMVGp img {
    margin: auto!important;
    margin-bottom: 0.5rem!important;
  }
  .cid-rLeZOOMVGp .item-tag {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-rLeZOOMVGp .icon-wrap {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  width: fit-content;
}
.cid-rLeZOOMVGp .special-label {
  color: #fff;
}
.cid-rLeZOOMVGp .menu-box {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-rLeZOOMVGp .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rLeZOOMVGp .menu-row {
  margin: 0;
}
.cid-rLeZOOMVGp .box-text {
  padding: 0;
  margin: 0;
  width: fit-content;
  color: #000000;
}
.cid-rLeZOOMVGp .line {
  display: flex;
  flex: 1 1 auto;
  background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
  background-size: 12px 2px;
  background-position: center;
  margin: .2em .5em;
  background-repeat: repeat;
  height: 2px;
}
.cid-rLeZOOMVGp .group-title,
.cid-rLeZOOMVGp .align-wrap {
  text-align: left;
}
.cid-rLeZOOMVGp SPAN {
  color: #e7272d;
}
.cid-rLeZOOMVGp .item-title {
  color: #808080;
}
.cid-rLeZOOMVGp H4 {
  color: #e7272d;
}
.cid-rLeZUxgdxP {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rLeZUxgdxP .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rLeZUxgdxP .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rLeZUxgdxP .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rLeZUxgdxP .title {
  padding: 0 2rem;
}
.cid-rLeZUxgdxP .mbr-gallery-item div {
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
  position: relative;
  z-index: 10;
  max-width: 400px;
  height: 300px!important;
}
.cid-rLeZUxgdxP .mbr-gallery-item div img {
  object-fit: cover;
  height: 100%;
}
.cid-rLeZUxgdxP .mbr-gallery-item div:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
  pointer-events: none;
}
.cid-rLeZUxgdxP .mbr-gallery-item div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  pointer-events: none;
  z-index: 9;
}
.cid-rLeZUxgdxP .mbr-gallery-item div:hover:before {
  opacity: 0.3;
  width: 0;
}
.cid-rLeZUxgdxP .mbr-gallery-item div:hover:after {
  opacity: 0.3;
  height: 0;
}
.cid-rLeZUxgdxP .container {
  padding: 0 1rem;
}
.cid-rLeZUxgdxP .mbr-gallery-item--p4 {
  padding: 1rem!important;
}
.cid-rLeZUxgdxP .mbr-gallery-filter {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rLeZUxgdxP .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rLeZUxgdxP .icon-focus {
  display: none;
}
.cid-rLeZUxgdxP .btn-primary-outline {
  border: none!important;
  color: gray!important;
  padding: 1rem 1rem;
  position: relative;
  background: transparent!important;
  font-weight: 400;
}
.cid-rLeZUxgdxP .btn-primary-outline:hover {
  background: transparent!important;
  color: #e7272d !important;
}
.cid-rLeZUxgdxP .btn-primary-outline:active {
  background: transparent!important;
  color: black !important;
}
.cid-rLeZUxgdxP li {
  position: relative;
}
.cid-rLeZUxgdxP li:not(:last-child):after {
  content: '';
  position: absolute;
  height: 24px;
  width: 1px;
  right: 0px;
  top: 26px;
  background: lightgray;
  transform: rotate(35deg);
}
.cid-rLeZUxgdxP .btn {
  font-family: Roboto !important;
}
.cid-rLeZUxgdxP .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  height: 100%;
  padding: 2rem;
  color: #fff;
  z-index: 2;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s;
  opacity: 0;
}
.cid-rLeZUxgdxP .mbr-gallery-title:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rLeZUxgdxP li:not(:last-child):after {
    top: 9px;
  }
  .cid-rLeZUxgdxP .btn-primary-outline {
    padding: 0rem 1rem;
    margin: 0!important;
  }
  .cid-rLeZUxgdxP .container {
    padding: 0rem;
  }
  .cid-rLeZUxgdxP .title {
    padding: 0 1rem;
  }
}
.cid-rLeZUxgdxP H2 {
  color: #89b758;
}
.cid-rLf0wBLq7E {
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
  background-color: #ffffff;
}
.cid-rLf0wBLq7E .accordion .card {
  overflow: hidden;
}
.cid-rLf0wBLq7E .card {
  border-bottom: 1px solid #efefef !important;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  padding: 0.6rem 0.2rem;
}
.cid-rLf0wBLq7E .card .card-header {
  padding: 0;
  background: transparent;
  margin-bottom: 0px;
  border: none;
}
.cid-rLf0wBLq7E .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: block;
  text-decoration: none !important;
  margin-top: 0px;
  line-height: normal;
}
.cid-rLf0wBLq7E .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rLf0wBLq7E .card .card-header a.panel-title h4 {
  padding: 0.6rem 1.2rem;
  margin-bottom: -1px;
  font-weight: 600;
  transition: all 0.3s;
}
.cid-rLf0wBLq7E .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-rLf0wBLq7E .card .card-header a.panel-title h4:hover {
  color: #89b758;
}
.cid-rLf0wBLq7E .card .panel-body {
  color: #767676;
}
.cid-rLf0wBLq7E .sign {
  font-family: 'Moririse2' !important;
  font-size: 1rem!important;
  margin-right: 1rem;
  padding: 11px;
  height: 39px;
  width: 39px;
  border-radius: 100%;
}
.cid-rLf0wBLq7E .mbri-arrow-up {
  background: #89b758;
  color: white!important;
}
.cid-rLf0wBLq7E .panel-title {
  display: flex!important;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.cid-rLf0wBLq7E .mbri-arrow-down:before {
  content: "\e960";
}
.cid-rLf0wBLq7E .panel-text {
  padding: 0rem;
  color: #383838;
}
.cid-rLf0wBLq7E .panel-collapse {
  margin-top: -1px;
}
.cid-rLf0wBLq7E H4 {
  color: #181818;
}
@media (max-width: 767px) {
  .cid-rLf0wBLq7E .panel-text {
    padding: 0 0.5rem;
  }
  .cid-rLf0wBLq7E .icon-left {
    margin-left: 0.5rem;
  }
  .cid-rLf0wBLq7E .sign {
    margin-right: 0.5rem;
  }
  .cid-rLf0wBLq7E .card .card-header a.panel-title h4 {
    padding: 0.4rem 0.4rem;
  }
}
.cid-rLf0wBLq7E H3 {
  color: #89b758;
}
.cid-rLf0J09L8r {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #fff4e2;
}
.cid-rLf0J09L8r .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rLf0J09L8r input,
.cid-rLf0J09L8r textarea {
  padding: 1rem 1.8rem!important;
  border-radius: 30px;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .cid-rLf0J09L8r .img-col {
    order: 2;
    text-align: center;
  }
  .cid-rLf0J09L8r img {
    max-width: 200px;
    margin: auto;
  }
  .cid-rLf0J09L8r .form-row {
    flex-direction: column;
  }
  .cid-rLf0J09L8r .btn {
    width: 100%;
  }
}
.cid-rLf0J09L8r .btn {
  border-radius: 30px;
  margin: 0!important;
}
.cid-rLf0J09L8r .form-control,
.cid-rLf0J09L8r .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
  transition: 0.4s;
  min-height: 4rem;
  box-shadow: none;
  outline: none;
}
.cid-rLf0J09L8r .form-control::-webkit-input-placeholder,
.cid-rLf0J09L8r .field-input::-webkit-input-placeholder,
.cid-rLf0J09L8r .form-control::-webkit-input-placeholder,
.cid-rLf0J09L8r .field-input::-webkit-input-placeholder {
  color: #808080;
}
.cid-rLf0J09L8r .form-control:-moz-placeholder,
.cid-rLf0J09L8r .field-input:-moz-placeholder,
.cid-rLf0J09L8r .form-control:-moz-placeholder,
.cid-rLf0J09L8r .field-input:-moz-placeholder {
  color: #808080;
}
.cid-rLf0J09L8r .form-control:hover,
.cid-rLf0J09L8r .field-input:hover,
.cid-rLf0J09L8r .form-control:focus,
.cid-rLf0J09L8r .field-input:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
  box-shadow: none;
  outline: none;
}
.cid-rLf0J09L8r .form-control:hover::-webkit-input-placeholder,
.cid-rLf0J09L8r .field-input:hover::-webkit-input-placeholder,
.cid-rLf0J09L8r .form-control:focus::-webkit-input-placeholder,
.cid-rLf0J09L8r .field-input:focus::-webkit-input-placeholder,
.cid-rLf0J09L8r .form-control:hover::-webkit-input-placeholder,
.cid-rLf0J09L8r .field-input:hover::-webkit-input-placeholder,
.cid-rLf0J09L8r .form-control:focus::-webkit-input-placeholder,
.cid-rLf0J09L8r .field-input:focus::-webkit-input-placeholder {
  color: #808080;
}
.cid-rLf0J09L8r .form-control:hover:-moz-placeholder,
.cid-rLf0J09L8r .field-input:hover:-moz-placeholder,
.cid-rLf0J09L8r .form-control:focus:-moz-placeholder,
.cid-rLf0J09L8r .field-input:focus:-moz-placeholder,
.cid-rLf0J09L8r .form-control:hover:-moz-placeholder,
.cid-rLf0J09L8r .field-input:hover:-moz-placeholder,
.cid-rLf0J09L8r .form-control:focus:-moz-placeholder,
.cid-rLf0J09L8r .field-input:focus:-moz-placeholder {
  color: #808080;
}
.cid-rLf0J09L8r .jq-number__spin:hover,
.cid-rLf0J09L8r .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rLf0J09L8r .jq-number__spin {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rLf0J09L8r .jq-selectbox li,
.cid-rLf0J09L8r .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rLf0J09L8r .jq-selectbox li:hover,
.cid-rLf0J09L8r .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rLf0J09L8r .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rLf0J09L8r .jq-number__spin.minus:hover:after,
.cid-rLf0J09L8r .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rLf0J09L8r .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rLf0J09L8r .jq-number__spin.minus:after,
.cid-rLf0J09L8r .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rLf0J09L8r input::-webkit-clear-button {
  display: none;
}
.cid-rLf0J09L8r input::-webkit-inner-spin-button {
  display: none;
}
.cid-rLf0J09L8r input::-webkit-outer-spin-button {
  display: none;
}
.cid-rLf0J09L8r input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-rLf0J09L8r .mbr-text,
.cid-rLf0J09L8r .mbr-section-btn {
  color: #808080;
}
.cid-rLf0QyoF2z {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rLf0QyoF2z h3 {
  width: fit-content;
  display: inline-block;
  position: relative;
}
@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0px 0px 0px 25px rgba(255, 255, 255, 0);
  }
}
.cid-rLf0QyoF2z .box {
  background-image: url("../../../assets/images/background2.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-rLf0QyoF2z .icon-wrap {
  border-radius: 50%;
  margin: auto;
  background: #89b758;
  height: 90px;
  width: 90px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  animation: shadow 1s infinite ease-in-out;
}
.cid-rLf0QyoF2z .mbr-media span {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  height: auto;
  display: inline-block;
  padding-left: 6px;
  opacity: 1;
  transition: all 0.25s;
  color: #ffffff !important;
}
.cid-rLf0QyoF2z .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rLf0QyoF2z .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rLf0QyoF2z .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rLf0QyoF2z .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rLf0QyoF2z a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rLf0QyoF2z a.close:hover {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-rLf0QyoF2z .box {
    height: 250px;
  }
}
.cid-rLf0QyoF2z .mbr-section-subtitle,
.cid-rLf0QyoF2z .title-align {
  color: #89b758;
}
.cid-rLf0QyoF2z H1 {
  color: #0e0e0e;
}
.cid-rLf1gje65V {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rLf1gje65V .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.6;
}
.cid-rLf1gje65V input,
.cid-rLf1gje65V textarea {
  padding: 0.8rem 1.2rem!important;
  border-radius: 0px;
  font-size: 1.1rem;
}
.cid-rLf1gje65V .form-control:hover,
.cid-rLf1gje65V .form-control:focus {
  color: #808080 !important;
}
.cid-rLf1gje65V .btn-success {
  color: white!important;
}
.cid-rLf1gje65V img {
  width: 90%;
  border-radius: 8px;
}
.cid-rLf1gje65V .btn {
  border-radius: 30px;
}
.cid-rLf1gje65V textarea {
  min-height: 160px!important;
}
.cid-rLf1gje65V .form-control,
.cid-rLf1gje65V .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #c1c1c1;
  color: #808080;
  min-height: 4rem;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rLf1gje65V .form-control:hover,
.cid-rLf1gje65V .field-input:hover,
.cid-rLf1gje65V .form-control:focus,
.cid-rLf1gje65V .field-input:focus {
  background-color: #ffffff;
  border-color: #c1c1c1;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rLf1gje65V input::-webkit-input-placeholder,
.cid-rLf1gje65V textarea::-webkit-input-placeholder {
  color: #808080;
}
.cid-rLf1gje65V input:-moz-placeholder,
.cid-rLf1gje65V textarea:-moz-placeholder {
  color: #808080;
}
.cid-rLf1gje65V .jq-selectbox li,
.cid-rLf1gje65V .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rLf1gje65V .jq-selectbox li:hover,
.cid-rLf1gje65V .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rLf1gje65V .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rLf1gje65V .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rLf1gje65V H5 {
  color: #000000;
  padding-bottom: 1rem;
}
@media (max-width: 992px) {
  .cid-rLf1gje65V img {
    width: 100%;
  }
  .cid-rLf1gje65V .google-map {
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .cid-rLf1gje65V .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-rLf1gje65V .mbr-text,
.cid-rLf1gje65V .mbr-section-btn {
  color: #808080;
}
.cid-rLf1kuPhkY .google-map {
  height: 30rem;
  position: relative;
}
.cid-rLf1kuPhkY .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rLf1kuPhkY .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rLf1kuPhkY .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rLf1kuPhkY .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rLf1oQUgVZ {
  padding-top: 60px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rLf1oQUgVZ .card:hover .item-content {
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.13);
}
.cid-rLf1oQUgVZ .logo {
  max-width: 80px;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.cid-rLf1oQUgVZ .center {
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.13);
}
.cid-rLf1oQUgVZ .item-content {
  height: 100%;
  z-index: 99;
  transition: all 0.3s;
  padding: 3rem 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.cid-rLf1oQUgVZ .border1 {
  border-bottom: 2px dotted lightgray;
}
.cid-rLf1oQUgVZ .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
.cid-rLf1oQUgVZ .icon-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.cid-rLf1oQUgVZ .icon-wrap span {
  margin-right: 14px;
  margin-top: 4px;
  font-size: 1.2rem;
  color: #e7272d;
}
.cid-rLf1oQUgVZ .bigicon {
  color: #e7272d;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-rLf1oQUgVZ .item-content {
    padding: 3rem 1rem;
  }
}
.cid-rLf1oQUgVZ .mbr-text,
.cid-rLf1oQUgVZ .mbr-section-btn {
  color: #808080;
}
.cid-rLf1oQUgVZ .location,
.cid-rLf1oQUgVZ .icon-wrap {
  color: #e7272d;
}
.cid-rLf1oQUgVZ H3 {
  color: #29361a;
}
.cid-rLf1rNXX7a {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f7ee;
}
.cid-rLf1rNXX7a .row-links {
  width: 100%;
}
.cid-rLf1rNXX7a .social-row {
  width: 100%;
  justify-content: flex-end;
  margin: 0;
}
.cid-rLf1rNXX7a .col-lg-6 {
  height: fit-content;
}
.cid-rLf1rNXX7a .soc-item {
  background: #e7272d;
  width: 45px;
  cursor: pointer;
  margin: auto;
  height: 45px;
  transition: all 0.3s;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.cid-rLf1rNXX7a .soc-item:hover {
  transform: scale(1.1);
}
.cid-rLf1rNXX7a .row {
  align-items: center;
}
.cid-rLf1rNXX7a .row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
}
.cid-rLf1rNXX7a .row .foot-menu li {
  padding-right: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.cid-rLf1rNXX7a .row .foot-menu li:hover {
  color: #e7272d;
}
.cid-rLf1rNXX7a .row .foot-menu li p {
  margin: 0;
}
.cid-rLf1rNXX7a .row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rLf1rNXX7a .row .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #ffffff;
}
.cid-rLf1rNXX7a .row .social-list .soc-item {
  margin: 0 .3rem;
}
.cid-rLf1rNXX7a .row .social-list a {
  margin: 0;
  opacity: 1;
  height: 26px;
  padding-right: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rLf1rNXX7a .row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rLf1rNXX7a .row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rLf1rNXX7a .row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rLf1rNXX7a .row .row-copirayt p {
  width: 100%;
}
@media (max-width: 992px) {
  .cid-rLf1rNXX7a .row-links {
    justify-content: center;
  }
  .cid-rLf1rNXX7a .foot-menu {
    justify-content: center;
  }
  .cid-rLf1rNXX7a .row-copirayt {
    justify-content: center;
    margin: 0;
    margin-bottom: 2rem;
  }
  .cid-rLf1rNXX7a .social-row {
    justify-content: center;
  }
  .cid-rLf1rNXX7a .mbr-text {
    text-align: center;
  }
  .cid-rLf1rNXX7a li {
    padding-right: 1rem!important;
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-rLf1rNXX7a .foot-menu {
    flex-direction: column;
  }
}
.cid-rLf1rNXX7a .foot-menu-item {
  color: #29361a;
}
.cid-rLf1rNXX7a .mbr-text {
  color: #808080;
}
