@font-face {
   font-family: 'Ethnocentric';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-20_180932/fonts/Ethnocentric/font.ttf');
}
