@font-face {
   font-family: 'Ethnocentric';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-29_233722/fonts/Ethnocentric/font.ttf');
}
